In [1]:
a = 5
b = 2
c1 = a ** b
c2 = a % b

print("variabel c1 =", c1)
print("variabel c2 =", c2)

variabel c1 = 25
variabel c2 = 1

In [2]:
import sys
print(sys.version)

3.12.2 (tags/v3.12.2:6abddd9, Feb  6 2024, 21:26:36) [MSC v.1937 64 bit (AMD64)]

In [3]:
if 5 > 4:
    print("Lima lebih besar dari dua!")

Lima lebih besar dari dua!

In [4]:
print("Hello World!") # ini komentar (comment)
print("Hello, world:") # ini komentar (comment)

Hello World!
Hello, world:

In [5]:
x = 5
y = "Juan"
z = 3.14

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'str'>
<class 'float'>

In [6]:
x1 = "John"
x2 = "John"

print(x1)
print(x2)

John
John

In [7]:
a = 4
A = "Empat"
print(a)
print(A)

4
Empat

In [8]:
myvar = "John"
my_var = "John"
_my_var = "John"
myVar = "John"
MYVAR = "John"
myvar2 = "John"

In [9]:
x, y, z = 'orange', 'banana', 'pearch'
print(x)
print(y)
print(z)

orange
banana
pearch

In [10]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

In [11]:
fruits = ["apple", "banana", 'cherry']
print(fruits)

['apple', 'banana', 'cherry']

In [12]:
number = [1,2,3,4,5]
print(number)

[1, 2, 3, 4, 5]

In [13]:
mixed = [1, 'satu', 2, 'dua', 3 'tiga']
print(mixed)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3813769055.py, line 1)

In [ ]:
fruits = ["apple", "banana", "cherry"]
print(fruits[0])
print(fruits[1])
print(fruits[2])
print(fruits[-1])
print(fruits[-2])

apple
banana
cherry
cherry
banana

In [ ]:
fruits = ["apple ", "banana", "cherry", "kivi", "melon", "mango"]
print(fruits[2:5])

['cherry', 'kivi', 'melon']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.append("orange")
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.insert(1, "orange")
print(fruits)

['apple', 'orange', 'banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits[1] = "blackcurrant"
print(fruits)

['apple', 'blackcurrant', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruits[1:3] = ["blackcurrant", "watermelon"]
print(fruits)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [ ]:
x = "awesome"
print("Python is " + x)

Python is awesome

In [ ]:
x = "awesome"
print("Python is ", x)

Python is  awesome

In [ ]:
x = "Python is "
y = "awesome"
z = x + y
print(z)

Python is awesome

In [ ]:
x = 5
y = 10
print (x + y)

15

In [ ]:
x = ("apple", "banana", "cherry")
print(x)

('apple', 'banana', 'cherry')

In [ ]:
x = range(6)
print(x)

range(0, 6)

In [ ]:
x = {"name" : "John" , "age" : 36}
print(x)

{'name': 'John', 'age': 36}

In [ ]:
x = {"apple", "banana", "cherry"}
print(x)

{'apple', 'cherry', 'banana'}

In [ ]:
x = frozenset({"apple", "banana", "cherry"})
print(x)

frozenset({'apple', 'cherry', 'banana'})

In [ ]:
x = True 
print(x)

True

In [ ]:
x = b"Hello"
print(x)

b'Hello'

In [ ]:
x = bytearray(5)
print(x)

bytearray(b'\x00\x00\x00\x00\x00')

In [ ]:
x = memoryview(bytes(5))
print(x)

<memory at 0x11289c1c0>

In [ ]:
x = int(1)
y = int(2.8)
z = int ("3")
print('x =',  x)
print('y =', y)
print('z =', z)

x = float(1)
y = float(2.8)
z = float("3")
w = float("4.2")
print(x)
print(y)
print(z)
print(w)

x = 1
y = 2
z = 3
1.0
2.8
3.0
4.2

In [ ]:
b = "Selamat makan"
print(b[2:6])
print(b[:7])

lama
Selamat

In [ ]:
fruits = ["apple", "banana", "cherry"]
tropical = ["manggo", "pineapple", "papaya"]
fruits.extend(tropical)
print(fruits)

['apple', 'banana', 'cherry', 'chian', 'manggo', 'pineapple', 'papaya']

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.remove("banana")
print(fruits)

['apple', 'cherry']

In [ ]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [ ]:
a = 200
b = 33
if b > a:
    prin("b is grater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [ ]:
a = 33
b = 33
if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")

a and b are equal

In [ ]:
a = 200
b = 33
c = 500
if a > b and c > a:
    print("Both conditions are True")

In [ ]:
if a > b or a > c:
    print("At least one of the conditions is True")

In [ ]:
x = 41

if x > 10:
    print("Above ten,")
    if x > 20:
        print("and also above 20!")
    else:
        print("but bot above 20.")

Above ten,
and also above 20!

In [ ]:
# While Loop
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

In [ ]:
i = 1 
while i < 6:
    print(i)
    if i == 3:
        break
    i += 1

1
2
3

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 3:
        continue
    print(i)

1
2
4
5
6

In [ ]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
    print(x)

apple
banana
cherry

In [ ]:
for x in "banana":
    print(x)

b
a
n
a
n
a

In [ ]:
for x in fruits:
    print(x)
    if x == "banana":
        break

apple
banana

In [ ]:
for x in fruits:
    if x == "cherry":
        break
    print(x)

apple
banana

In [ ]:
for x in fruits:
    if x == "banana":
        continue
    print(x)

apple
cherry

In [ ]:
for x in range(6):
    print(x)

0
1
2
3
4
5

In [ ]:
for x in range(2, 6):
    print(x)

2
3
4
5

In [ ]:
for x in range(2, 30, 5):
    print(x)

2
7
12
17
22
27

In [ ]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
red caunima
big apple
big banana
big cherry
big caunima
tasty apple
tasty banana
tasty cherry
tasty caunima

In [ ]:
#Mendefinisikan fungsi
def my_fungtion():
    print("Hello from a fungtion")

In [ ]:
#Memanggil fungsi
my_fungtion()

Hello from a fungtion

In [ ]:
def my_fungtion(fname):
    print(fname + " Refsnes")

my_fungtion("Emil")
my_fungtion("Tobias")
my_fungtion("Linus")

Emil Refsnes
Tobias Refsnes
Linus Refsnes

In [1]:
def my_fungtion(x):
    return 5 * x
print(my_fungtion(3))
print(my_fungtion(5))
print(my_fungtion(9))

15
25
45