In [7]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [8]:
import numpy as np

In [9]:
data_path = "/content/drive/MyDrive/Big Data/Praktikum02/ClassicCars.csv"

In [10]:
types = ['U20', 'U10', 'U5', 'U20', 'U3', 'f4', 'f4', 'f4', 'f4', 'U10', 'i4', 'i4', 'i4', 'i4', 'i4']
data = np.genfromtxt(data_path, dtype=types, delimiter=',', names=True)

In [11]:
data.dtype.names

('make',
 'fueltype',
 'numofdoors',
 'bodystyle',
 'drivewheels',
 'wheelbase',
 'length',
 'width',
 'height',
 'numofcylinders',
 'enginesize',
 'horsepower',
 'citympg',
 'highwaympg',
 'price')

In [13]:
print("The shape of the array is: ", data.shape)
# Mencetak pesan yang menyertakan bentuk (shape) dari array atau DataFrame 'data'

The shape of the array is:  (205,)

In [15]:
print(data['make'])
#Mencetak kolom 'make' dari DataFrame 'data'

['alfa-romero' 'alfa-romero' 'alfa-romero' 'audi' 'audi' 'audi' 'audi'
 'audi' 'audi' 'audi' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw' 'bmw'
 'chevrolet' 'chevrolet' 'chevrolet' 'dodge' 'dodge' 'dodge' 'dodge'
 'dodge' 'dodge' 'dodge' 'dodge' 'dodge' 'honda' 'honda' 'honda' 'honda'
 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda' 'honda'
 'isuzu' 'isuzu' 'isuzu' 'isuzu' 'jaguar' 'jaguar' 'jaguar' 'mazda'
 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda'
 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mazda' 'mercedes-benz'
 'mercedes-benz' 'mercedes-benz' 'mercedes-benz' 'mercedes-benz'
 'mercedes-benz' 'mercedes-benz' 'mercedes-benz' 'mercury' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi' 'mitsubishi'
 'mitsubishi' 'mitsubishi' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan'
 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'nissan'
 'nissan' 'nissan' 'nissan' 'nissan' 'nissan' 'peugot' 'peugot' 'peugot'
 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot' 'peugot'
 'plymouth' 'plymouth' 'plymouth' 'plymouth' 'plymouth' 'plymouth'
 'plymouth' 'porsche' 'porsche' 'porsche' 'porsche' 'porsche' 'renault'
 'renault' 'saab' 'saab' 'saab' 'saab' 'saab' 'saab' 'subaru' 'subaru'
 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru' 'subaru'
 'subaru' 'subaru' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota' 'toyota'
 'toyota' 'toyota' 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen'
 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen' 'volkswagen'
 'volkswagen' 'volkswagen' 'volkswagen' 'volvo' 'volvo' 'volvo' 'volvo'
 'volvo' 'volvo' 'volvo' 'volvo' 'volvo' 'volvo' 'volvo']

In [16]:
data['bodystyle']
# Mengakses dan mencetak kolom 'bodystyle' dari DataFrame 'data'

array(['convertible', 'convertible', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'wagon', 'sedan', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'sedan', 'wagon', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'wagon', 'hatchback', 'hatchback', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'hatchback', 'sedan',
       'sedan', 'sedan', 'hatchback', 'hatchback', 'hatchback', 'sedan',
       'sedan', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback',
       'sedan', 'sedan', 'sedan', 'wagon', 'hardtop', 'sedan', 'sedan',
       'convertible', 'sedan', 'hardtop', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'hatchback', 'hatchback',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'sedan',
       'hatchback', 'sedan', 'wagon', 'hardtop', 'hatchback', 'sedan',
       'sedan', 'wagon', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'wagon', 'wagon', 'sedan', 'sedan', 'wagon',
       'wagon', 'sedan', 'sedan', 'sedan', 'hatchback', 'hatchback',
       'hatchback', 'sedan', 'sedan', 'wagon', 'hatchback', 'hatchback',
       'hardtop', 'hardtop', 'convertible', 'hatchback', 'wagon',
       'hatchback', 'hatchback', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'sedan', 'hatchback', 'hatchback', 'hatchback',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'wagon', 'wagon',
       'wagon', 'wagon', 'hatchback', 'hatchback', 'hatchback', 'wagon',
       'wagon', 'wagon', 'sedan', 'hatchback', 'sedan', 'hatchback',
       'sedan', 'hatchback', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hardtop', 'hardtop', 'hatchback', 'hardtop',
       'hatchback', 'convertible', 'sedan', 'sedan', 'hatchback', 'sedan',
       'hatchback', 'hatchback', 'hatchback', 'sedan', 'wagon', 'sedan',
       'sedan', 'sedan', 'sedan', 'sedan', 'sedan', 'sedan',
       'convertible', 'hatchback', 'sedan', 'sedan', 'wagon', 'sedan',
       'wagon', 'sedan', 'wagon', 'sedan', 'wagon', 'sedan', 'sedan',
       'sedan', 'sedan', 'sedan'], dtype='<U20')

In [36]:
min=np.min(data['price']) # Menghitung nilai minimum dari kolom price
max=np.max(data['price']) # Menghitung nilai maksimum dari kolom price
print('Min car price:', min)  # Mencetak nilai minimum dan maksimum dari kolom price
print('Max car price:', max)
print('Range: ', max-min) # Menghitung dan mencetak rentang (range) dari kolom price

Min car price: 5118
Max car price: 45400
Range:  40282

In [35]:
print("Min car price:", np.min(data['price'])) # Mencetak nilai minimum dari kolom price
print("Max car price:", np.max(data['price'])) # Mencetak nilai maksimum dari kolom price
print("Mean car price:", np.mean(data['price'])) # Mencetak rata-rata (mean) dari kolom price
print("Median car price:", np.median(data['price'])) # Mencetak median dari kolom price

Min car price: 5118
Max car price: 45400
Mean car price: 13300.239024390245
Median car price: 10345.0

In [19]:
def stdUsingNumpyOnly(prices):  # Menghitung deviasi standar menggunakan fungsi-fungsi NumPy
  return np.sqrt(np.sum(np.power(np.subtract(prices, np.mean(prices)),2))/len(prices))

In [20]:
def stdImplementation(prices):
  meanPrice = np.mean(prices)
  # Menghitung kuadrat selisih antara setiap harga dan rata-rata
  priceDiffSq = [np.power(price-meanPrice, 2) for price in prices]
  priceDiffAvg = np.sum(priceDiffSq)/len(prices) # Menghitung rata-rata dari kuadrat selisih
  return np.sqrt(priceDiffAvg) # Menghitung akar kuadrat dari rata-rata kuadrat selisih, menghasilkan deviasi standar

In [21]:
# Menghitung deviasi standar menggunakan fungsi yang Anda definisikan
print("Standard deviation using only numpy functions: ", stdUsingNumpyOnly(data['price']))
# Menghitung deviasi standar menggunakan fungsi yang Anda implementasikan
print("Standard deviation by implementing std function: ", stdImplementation(data['price']))
print("Standard deviation using NumPy's std function:", np.std(data['price']))
# Menghitung deviasi standar menggunakan fungsi std bawaan NumPy

Standard deviation using only numpy functions:  7969.54140103854
Standard deviation by implementing std function:  7969.54140103854
Standard deviation using NumPy's std function: 7969.54140103854

In [23]:

# Menghitung volume mobil dengan mengalikan kolom length, height, dan width
carsVolume = np.multiply(np.multiply(data['length'], data['height']), data['width'])

In [24]:
carsVolume = np.multiply(np.multiply(data['length'], data['height']), data['width'])
# Mencari nilai maksimum dan minimum dari volume mobil
maxVolume = np.max(carsVolume)
minVolume = np.min(carsVolume)
# Mencari indeks mobil dengan volume maksimum dan minimu
carWithMaxVolume = np.argmax(carsVolume)
carWithMinVolume = np.argmin(carsVolume)

# Menampilkan informasi tentang mobil dengan volume maksimum dan minimum
print("Max volume:", maxVolume, " belongs to car ", data[carWithMaxVolume])

print("Min volume:", minVolume, " belongs to car ", data[carWithMinVolume])

Max volume: 846007.7  belongs to car  ('mercedes-benz', 'gas', 'four', 'sedan', 'rwd', 120.9, 208.1, 71.7, 56.7, 'eight', 308, 184, 14, 16, 40960)
Min volume: 452643.2  belongs to car  ('chevrolet', 'gas', 'two', 'hatchback', 'fwd', 88.4, 141.1, 60.3, 53.2, 'three', 61, 48, 47, 53, 5151)

In [25]:
#Solution2
carsVolume = data['length']* data['height']* data['width']
#Solution3
carsVolume = np.prod(np.vstack([data['length'], data['height'],
data['width']]), axis=0)
#Solution2 dan Solution3 adalah dua cara alternatif
# untuk menghitung volume mobil menggunakan kolom 'length', 'height', dan 'width' dari DataFrame 'data'

In [33]:
print("Unique bodystyles: ", np.unique(data['bodystyle']))
# Mencetak nilai unik dalam kolom bodystyle

Unique bodystyles:  ['convertible' 'hardtop' 'hatchback' 'sedan' 'wagon']

In [34]:
uniqueCarMakes = np.unique(data['make'])
print("There are ", len(uniqueCarMakes), "unique car makes which are:", uniqueCarMakes)

# Mencetak jumlah nilai unik dan daftar merek mobil

There are  22 unique car makes which are: ['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'mazda' 'mercedes-benz' 'mercury' 'mitsubishi' 'nissan' 'peugot'
 'plymouth' 'porsche' 'renault' 'saab' 'subaru' 'toyota' 'volkswagen'
 'volvo']

In [28]:
fuelDiff = np.subtract(data['highwaympg'], data['citympg'])
# Menghitung perbedaan konsumsi bahan bakar antara 'highwaympg' dan 'citympg'
minFuelDiff = np.min(fuelDiff)
maxFuelDiff = np.max(fuelDiff)
# Mencari nilai minimum dan maksimum dari perbedaan konsumsi bahan bakar

# Mencari indeks mobil dengan perbedaan konsumsi bahan bakar terkecil dan terbesar
carWithMinFuelDiff = np.argmin(fuelDiff)
carWithMaxFuelDiff = np.argmax(fuelDiff)

# Menampilkan informasi tentang mobil dengan perbedaan konsumsi bahan bakar terkecil dan terbesar
print("A %s with engine size=%d and horsepower=%d has the minimum fuel difference (%d) when driven in the city and the highway"
      % (data['make'][carWithMinFuelDiff], data["enginesize"][carWithMinFuelDiff],
data['horsepower'][carWithMinFuelDiff], minFuelDiff))
print("A %s with engine size=%d and horsepower=%d has the maximum fuel difference (%d) when driven in the city and the highway"
% (data['make'][carWithMaxFuelDiff], data["enginesize"][carWithMaxFuelDiff],
data['horsepower'][carWithMaxFuelDiff], maxFuelDiff))

A peugot with engine size=152 and horsepower=95 has the minimum fuel difference (0) when driven in the city and the highway
A porsche with engine size=203 and horsepower=288 has the maximum fuel difference (11) when driven in the city and the highway

In [29]:
makes,counts = np.unique(data['make'], return_counts=True) # Menggunakan NumPy untuk mendapatkan nilai unik dan menghitung jumlah kemunculannya
maxCarsSameMake = np.argmax(counts)# Menemukan indeks merek mobil yang paling sering muncul
make = makes[maxCarsSameMake]# Mendapatkan merek mobil yang paling sering muncul
# Mencetak jumlah mobil dan merek yang paling sering muncul
print("The company has %d %s cars " % (np.max(counts), make))

The company has 32 toyota cars

In [30]:
cheapConvertibles = data[(data['bodystyle']=="convertible") & (data['price']<15000)]
# Memfilter data untuk mendapatkan convertibles dengan harga kurang dari 15000
print("Details of convertibles that cost less than £15000:\n", cheapConvertibles)

Details of convertibles that cost less than £15000:
 [('alfa-romero', 'gas', 'two', 'convertible', 'rwd', 88.6, 168.8, 64.1, 48.8, 'four', 130, 111, 21, 27, 13495)
 ('volkswagen', 'gas', 'two', 'convertible', 'fwd', 94.5, 159.3, 64.2, 55.6, 'four', 109,  90, 24, 29, 11595)]

In [32]:
Q3P = np.percentile(data['price'], 75) #Third quartile
Q1P = np.percentile(data['price'], 25) #First quartile
IQRP = Q3P - Q1P #Inter Quartile Range

# Menghitung nilai kuartil pertama (Q1) dan kuartil ketiga (Q3)
print('Price IQR:', IQRP) #print price IQR

Price IQR: 8715.0

In [31]:
percentile50HP = np.percentile(data['horsepower'], 50) #50th percentile
# Menghitung persentil ke-50 (50th percentile) dari kolom 'horsepower'
print('Horsepower 50th percentile:', percentile50HP)

print("Median horsepower:", np.median(data['horsepower']))  #output median dari data horsepower

Horsepower 50th percentile: 95.0
Median horsepower: 95.0

In [ ]:
# Nama: Hernando Bun
# NIM : 535230133